{% extends 'layouts/base-public.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div class="col-md-10" style="display: inline-flex; margin-left: 118px;">
        {% if political_parties %}
            {% for political_party in political_parties %}
                <div class="col-md-5">
                    <div class="card card-user" style="background: #101115d6;">
                        <div class="card-body">
                            <p class="card-text">
                            <div class="author">
                                <div class="block block-one"
                                     style="background: linear-gradient(to right, {{political_party.representative_color}} 0%, rgba(225, 78, 202, 0) 100%);"></div>
                                <div class="block block-two"
                                     style="background: linear-gradient(to right, {{political_party.representative_color}} 0%, rgba(225, 78, 202, 0) 100%);"></div>
                                <div class="block block-three"
                                     style="background: linear-gradient(to right, {{political_party.representative_color}} 0%, rgba(225, 78, 202, 0) 100%);"></div>
                                <div class="block block-four"
                                     style="background: linear-gradient(to right, {{political_party.representative_color}} 0%, rgba(225, 78, 202, 0) 100%);"></div>
                                <img class="avatar" src="{{political_party.image.url}}" alt="..." style="width: 300px; height: 300px;">
                                <h3 class="title">{{political_party.party_name.upper}}</h3>
                                <h4>Presidenta {{political_party.president.upper}}</h4>
                                <h4>Vicepresidente {{political_party.vice_president.upper}}</h4>
                                <p class="list-number">
                                    Número de Lista: {{ political_party.party_number }}
                                </p>
                            <p>VOTOS: {{political_party.votes}}</p>
                            </div>
                            </p>
                            <div class="card-description" style="text-align: center">
                                <h6>"{{political_party.slogan}}"</h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row" style="margin-left: 200px;">
        <div class="col-md-8">
            <div class="card card-chart" style="background: #101115d6;">
                <div class="card-header">
                    <h3 class="title">Resultados:</h3>
                    <h4>Electores: <span>{{total_voters}}</span></h4>
                    <h4>Participación:  <span>{{stake}}%</span></h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="CountryChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block extrajs %}
<script>
$(document).ready(function () {
    demo.initDashboardPageCharts();
});

demo = {
  initDashboardPageCharts: function() {

    gradientBarChartConfiguration = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
    };

    var ctx = document.getElementById("CountryChart").getContext("2d");
    var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(28,33,38,0.2)');
    gradientStroke.addColorStop(0.4, 'rgba(28,33,38,0.0)');
    gradientStroke.addColorStop(0, 'rgba(28,33,38,0)');

    var partyVotes = [];
    var partyNames = [];
    {% for political_party in political_parties %}
        partyVotes.push({{ political_party.votes }});
        partyNames.push("{{ political_party.party_name.upper }}");
    {% endfor %}

    var myChart = new Chart(ctx, {
      type: 'doughnut',
      responsive: true,
      legend: {
        display: false
      },
      data: {
        labels: partyNames,
        datasets: [{
          backgroundColor: [
              'rgb(232, 18, 18, 0.5)',
              'rgb(15, 174, 5, 0.5)',
          ],
          hoverBackgroundColor: gradientStroke,
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: partyVotes,
        }]
      },
      options: gradientBarChartConfiguration
    });
  },

};
</script>
{% endblock extrajs %}
