{% extends 'layouts/base-public.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="row" style="margin-left: -249px;">

    <!-- PARTIDO POLITICO   -->
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
            <div class="author">
              <div class="block block-one" style="background: linear-gradient(to right, rgba(223, 9, 9, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-two" style="background: linear-gradient(to right, rgba(223, 9, 9, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-three" style="background: linear-gradient(to right, rgba(223, 9, 9, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-four" style="background: linear-gradient(to right, rgba(223, 9, 9, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
                <img class="avatar" src="{% static 'assets/img/emilyz.jpg' %}" alt="..." style="width: 300px; height: 300px;">
                <h4 class="title">Presidenta RHAENYRA TARGARYEN</h4>
              <p class="description">
                Vicepresidente DAEMON TARGARYEN
              </p>
            </div>
          </p>
          <div class="card-description">
            SLOGAN
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn">
              <span>Votar</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- PARTIDO POLITICO   -->
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
            <div class="author">
              <div class="block block-one" style="background: linear-gradient(to right, rgba(20, 206, 32, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-two" style="background: linear-gradient(to right, rgba(20, 206, 32, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-three" style="background: linear-gradient(to right, rgba(20, 206, 32, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-four" style="background: linear-gradient(to right, rgba(20, 206, 32, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
                <img class="avatar" src="{% static 'assets/img/emilyz.jpg' %}" alt="..." style="width: 300px; height: 300px;">
                <h4 class="title">Presidenta ALICENT HIGHTOWER</h4>
              <p class="description">
                Vicepresidente OTTO HIGHTOWER
              </p>
            </div>
          </p>
          <div class="card-description">
            SLOGAN
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn">
              <span>Votar</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- VOTO EN BLANCO   -->
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
            <div class="author">
              <div class="block block-one" style="background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-two" style="background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-three" style="background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
              <div class="block block-four" style="background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(225, 78, 202, 0) 100%);"></div>
                <img class="avatar" src="{% static 'assets/img/emilyz.jpg' %}" alt="..." style="width: 250px; height: 250px;">
                <h4 class="title">VOTO EN BLANCO</h4>
              <p class="description">
                <span>-</span>
              </p>
            </div>
          </p>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn">
              <span>Votar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
