{% load static %}
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="{% url 'admin:logout' %}" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                            <img src="{% static 'assets/img/default-avatar.png' %}" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">Log out</p>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li class="nav-link">
                                    <a href="{% url 'admin:password_change' %}" class="dropdown-item">Cambiar contraseña</a>
                                </li>
                                <li class="nav-link">
                                    <a href="{% url 'admin:logout' %}" class="nav-item dropdown-item">Cerrar sesión</a>
                                </li>
                            {% else %}
                                <li class="nav-link">
                                    <a href="{% url 'admin:logout' %}" class="nav-item dropdown-item">Cerrar sesión</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li>
                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>
